<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="top" mode="ios">
    <div class="nav-container">
      <div class="title-container">
        <p class="recipe-generator-title">Recipe Generator</p>
      </div>
      <div class="button-container">
        <ion-tab-button tab="browse">
          Browse
        </ion-tab-button>
        <ion-tab-button tab="favorites">
          Favorites
        </ion-tab-button>
        <ion-tab-button tab="settings">
          Settings
        </ion-tab-button>
      </div>
    </div>
    <div class="underlay-gradient"></div>
  </ion-tab-bar>
</ion-tabs>
